Source: sparkcan
Section: libs
Priority: optional
Maintainer: Grayson Arendt <grayson.n.arendt@gmail.com>
Build-Depends: debhelper-compat (= 12), cmake (>= 3.10)
Standards-Version: 4.6.0
Homepage: https://github.com/grayson-arendt/sparkcan

Package: sparkcan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Linux-based CAN bus interface for controlling REV Robotics' SPARK MAX and SPARK Flex motor controllers.